body {
    margin: 0;
    overflow: hidden;
    background-image: url('https://img.freepik.com/fotos-gratis/as-belas-estrelas-brilhando-no-ceu-noturno_181624-622.jpg?w=740&t=st=1722912266~exp=1722912866~hmac=7246575eb68d3b5724d9dcf022e132e75437044790e6dc24d087140e6f674c04');
    background-size: cover;
}

#background {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: 50px;
    transform: translate(-50%,-0.0%);
    display: block;
    width: 500px;
    height: 600px;
    background-color: #589dec;
    background: linear-gradient(0deg, rgba(148,128,105,1) 0%, rgba(224,204,180,1) 35% , rgba(151,168,220,1) 35%, rgb(20, 38, 90) 100%);
    border-radius: 50%;
}

#suns {
    position: absolute;
    left: 60%;
    top: 15%;
    width: 100px;
    height: 100px;
    background-color: #d2ad80;
    border-radius: 50%;
}

#suns::after {
    content: "";
    position: absolute;
    left: -100px;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: #e0a761;
    border-radius: 50%;
}

#egg_back {
    content: "";
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    display: block;
    width: 0;
    height: 0;
    border-top: 145px solid #606061;
    border-left: 145px solid #606061;
    border-right: 145px solid #606061;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    box-shadow: 0 0 0 7px #ccd6db;
    animation: 3s infinite alternate egg_bounce;
}

#egg {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    display: block;
    background-color: #ccd6db;
    width: 0;
    height: 0;
    border-bottom: 150px solid #ccd6db;
    border-left: 150px solid #ccd6db;
    border-right: 150px solid #ccd6db;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
    animation: 3s infinite alternate egg_bounce;
}

#egg::after {
    content: "";
    position: absolute;
    transform: translate(-50%);
    width: 320px;
    height: 20px;
    background-color: #dae3e7;
}

#egg_lid_left {
    position: absolute;
    display: block;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    top: -140px;
    left: -145px;
    width: 0;
    height: 0;
    border-top: 145px solid #ccd6db;
    border-left: 145px solid #ccd6db;
    border-top-left-radius: 130px;
}

#egg_lid_right {
    position: absolute;
    display: block;
    transform-origin: bottom left;
    transform: rotate(90deg);
    top: -140px;
    width: 0;
    height: 0;
    border-top: 145px solid #ccd6db;
    border-right: 145px solid #ccd6db;
    border-top-right-radius: 135px;
}


#grogu {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    animation: 3s infinite alternate egg_bounce;
}

#head{
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    background-color: #98af98;
    width: 100px;
    height: 100px;
    border-radius: 50% 50% 40% 40%;
}

#left_ear {
    position: absolute;
    display: block;
    left: -80px;
    background-color: #98af98;
    width: 100px;
    height: 60px;
    border-radius: 20% 40% 20% 80%;
}

#left_ear::after {
    content: "";
    position: absolute;
    display: block;
    transform: rotate(10deg);
    left: 5px;
    top: 10px;
    background-color: #deb2e0;
    width: 80px;
    height: 35px;
    opacity: 0.6;
    border-radius: 20% 40% 10% 80%;
}

#right_ear {
    position: absolute;
    display: block;
    left: 80px;
    background-color: #98af98;
    width: 100px;
    height: 60px;
    border-radius: 40% 20% 80% 20%;
}


#right_ear::after {
    content: "";
    position: absolute;
    display: block;
    transform: rotate(-8deg);
    left: 15px;
    top: 10px;
    background-color: #deb2e0;
    width: 80px;
    height: 35px;
    opacity: 0.6;
    border-radius: 40% 20% 80% 00%;
}

#body {
    position: absolute;
    display: block;
    transform: translate(-50%);
    background-color: #8b847a;
    width: 100px;
    height: 100px;
    border-radius: 40%;
}

#collar {
    position: absolute;
    display: block;
    left: -60px;
    top: 30px;
    transform: rotate(15deg);
    background-color: #c4beb4;
    width: 70px;
    height: 30px;
    border-radius: 20px;

}

#collar::after {
    content: "";
    position: absolute;
    display: block;
    left: 50px;
    top: -15px;
    transform: rotate(-30deg);
    background-color: #c4beb4;
    width: 70px;
    height: 30px;
    border-radius: 20px;

}

#left_eye {
    position: absolute;
    display: block;
    top: 40px;
    left: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: 5s infinite blink;
}

#left_eye::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 5px;
    background-color: whitesmoke;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}


#right_eye {
    position: absolute;
    display: block;
    top: 40px;
    left: 64px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: 5s infinite blink;
}

#right_eye::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 5px;
    background-color: whitesmoke;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

#smile {
    position: absolute;
    top: 60px;
    left: 42px;
    height: 5px;
    width: 10px;
    border-radius: 0 0 20px 20px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

}


#left_hand {
    position:absolute;
    top: calc(50% + 55px);
    left: 38%;
    background-color: #98af98;
    width: 20px;
    height: 20px;
    border-radius: 20% 20% 50% 50%;
    animation: 3s infinite alternate egg_bounce;
}

#right_hand {
    position:absolute;
    top: calc(50% + 55px);
    left: 60%;
    background-color: #98af98;
    width: 20px;
    height: 20px;
    border-radius: 20% 20% 50% 50%;
    animation: 3s infinite alternate egg_bounce;
}