body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: 50px;
    transform: translate(-50%,-0.0%);
    display: block;
    width: 500px;
    height: 600px;
    background-color: #589dec;
    border-radius: 50%;
}

#egg::before {
    content: "";
    position: absolute;
    top: -150px;
    transform: translate(-50%);
    display: block;
    width: 0;
    height: 0;
    border-top: 150px solid #606061;
    border-left: 150px solid #606061;
    border-right: 150px solid #606061;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;
    box-shadow: 0 0 0 7px #ccd6db;
}

#egg {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    display: block;
    background-color: #ccd6db;
    width: 0;
    height: 0;
    border-bottom: 150px solid #ccd6db;
    border-left: 150px solid #ccd6db;
    border-right: 150px solid #ccd6db;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
}

#egg::after {
    content: "";
    position: absolute;
    transform: translate(-50%);
    width: 320px;
    height: 20px;
    background-color: #dae3e7;
}

#egg_lid_left {
    
}
